.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.review {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 300px;
  height: 500px;
  margin: 10px;
  font-size: 16px;
  background-color: #eeeae7;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(197, 197, 197, 0.5);
}
.review .book-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.review .book-image img {
  height: 220px;
  width: 150px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.review .book-review .title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 700;
}
.review .book-review button {
  width: 170px;
  height: 46px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  border: 1px rgb(114, 114, 114) solid;
  padding: 3px;
}
.review .book-review button:hover {
  background-color: var(--blue);
  transition: 0.3s ease-in-out;
  transform: translateY(-2px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  color: white;
}
.review-buttons {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-review {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  font-size: 16px;
}
.delete-review:hover {
  background-color: rgb(255, 69, 69);
  color: white;
}
.rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.your-reviews {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.reviews {
  display: flex;
  flex-direction: column;
  margin: 20px 200px;
  justify-content: center;
}
.pagination-box {
  display: flex;
  justify-content: center;
}
.pagination {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.pagination p {
  margin: 0px 20px;
}
.pagination button {
  padding: 5px;
}
.user-info {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-around;
}
.user-info .owner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info p {
  margin-left: 10px;
}
.user-info .book-mark {
  margin-top: -10px;
}
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  transition: 0.3s ease-in-out;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 0px;
}
.btn-modal:hover {
  background-color: var(--blue);
  color: white;
}
.modal,
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(49, 49, 49, 0.8);
  z-index: 1;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content-review {
  display: flex;
  transition: 0.3s ease-in-out;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  height: 800px;
  width: 800px;
  z-index: 2;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
@media screen and (max-width: 730px) {
  .reviews {
    margin: 20px 50px;
  }
  .your-reviews {
    justify-content: center;
  }

  .modal-content {
    height: 600px;
    width: 90%;
    margin-top: 50px;
  }
}
