* {
  margin: 0px;
  padding: 0px;
}
.google-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.google-body {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
}
.google-books {
  display: flex;
  flex-wrap: wrap;
}
.google-book-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  width: 300px;
  height: 470px;
  margin: 10px 10px;
  border: 1px solid rgb(185, 185, 185);
}

.google-box {
  width: 300px;
}
.google-book-title-img {
  display: flex;
  align-items: flex-start;
  height: 220px;
}
.google-book-title-img img {
  padding: 5px;
  border-radius: 30px;
  height: 200px;
  width: 160px;
  object-fit: cover;
}
.google-book-info {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 7px;
}
.google-book-info p {
  font-size: 18px;
  margin-top: 15px;
  margin-left: 10px;
}
.google-book-info button {
  width: 280px;
  margin-top: 5px;
  padding: 6px;
  background-color: #4184d2;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  border: 0px;
  cursor: pointer;
}
.google-title {
  font-size: 21px;
  font-weight: 700;
}
.google-search {
  margin-top: 20px;
  margin-left: 20vh;
  width: 300px;
  background-color: #4184d2;
  border-radius: 5px;
}
.google-search input {
  height: 35px;
  width: 200px;
  margin-left: 1px;
  padding: 5px;
  border: 2px solid #4184d2;
  box-sizing: border-box;
  outline: none;
  border-radius: 3px;
}
.google-search button {
  padding: 5px;
  height: 25px;
  border-radius: 0px 20px 5px 0px;
  border: 0px;
  background-color: #4184d2;
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
}
.google-search input:focus {
  border: 1px solid #4184d2;
}
.google-pagination-box {
  display: flex;
  justify-content: center;
}
.google-pagination {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.google-pagination p {
  margin: 0px 20px;
}
.google-pagination button {
  padding: 5px;
}

.success-checkmark {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.check-icon {
  width: 100px;
  height: 100px;
  position: relative;
}

.icon-line {
  height: 5px;
  background-color: #4caf50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 20;
}

.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: line-tip 0.3s ease-out;
}

.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: line-long 0.3s 0.15s ease-out;
}

.icon-circle {
  top: -3px;
  left: -2px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid rgba(76, 175, 80, 0.5);
}

.icon-fix {
  top: 8px;
  width: 5px;
  height: 85px;
  left: 22px;
  transform: rotate(-45deg);
}
/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;

  .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4caf50;

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: "";
      height: 100px;
      position: absolute;
      background: #f1f1f1;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      background-color: #4caf50;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(76, 175, 80, 0.5);
    }

    .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #f1f1f1;
    }
  }
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: 300px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: 35px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawLine {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#failureAnimationCircle {
  stroke-dasharray: 300px 300px;
  stroke: #d50000;
}

#failureAnimationCheck {
  stroke-dasharray: 35px 35px;
  stroke: #d50000;
}

#failureAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;
}
#failureAnimationCircle,
#failureAnimation.animated,
#failureAnimation.animated #failureAnimationCircle {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle;
}

#failureAnimation.animated #successAnimationCheck {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck;
}
.failureAnimationCheckLine,
#failureAnimation.animated .failureAnimationCheckLine {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: drawLine 1s cubic-bezier(1, 0.2, 0.1, 1) forwards;
}
