* {
  margin: 0px;
  padding: 0px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
}
.books {
  display: flex;
  flex-wrap: wrap;
}
.book-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  width: 300px;
  height: 470px;
  margin: 10px 10px;
  border: 1px solid rgb(185, 185, 185);
}

.box {
  width: 300px;
}
.book-title-img {
  display: flex;
  align-items: flex-start;
  height: 220px;
}
.book-title-img img {
  padding: 5px;
  border-radius: 30px;
  height: 200px;
  width: 160px;
  object-fit: cover;
}
.book-info {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 7px;
}
.book-info p {
  font-size: 18px;
  margin-top: 15px;
  margin-left: 10px;
}
.book-info button {
  width: 280px;
  margin-top: 5px;
  padding: 6px;
  background-color: #4184d2;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  border: 0px;
  cursor: pointer;
}
.title {
  font-size: 21px;
  font-weight: 700;
}
.search {
  margin-top: 20px;
  margin-left: 20vh;
  width: 300px;
  background-color: #4184d2;
  border-radius: 5px;
}
.search input {
  height: 35px;
  width: 200px;
  margin-left: 1px;
  padding: 5px;
  border: 2px solid #4184d2;
  box-sizing: border-box;
  outline: none;
  border-radius: 3px;
}
.search button {
  padding: 5px;
  height: 25px;
  border-radius: 0px 20px 5px 0px;
  border: 0px;
  background-color: #4184d2;
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
}
.search input:focus {
  border: 1px solid #4184d2;
}
.pagination-box {
  display: flex;
  justify-content: center;
}
.pagination {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.pagination p {
  margin: 0px 20px;
}
.pagination button {
  padding: 5px;
}
