.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .review {
    display: flex;
    width: 600px;
  }
  .review .book-info {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
  }
  .review .book-image img {
    width: 180px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .opinion {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 150px;
  }
  .opinion p {
    border-left: 1px solid rgb(107, 107, 107);
    padding-left: 4px;
    font-style: italic;
    text-align: justify;
    font-weight: 700;
    color: rgb(49, 49, 49);
  }
  .comments {
    margin: 170px 260px 0px 260px;
    border-radius: 5px;
    width: 700px;
  }
  .comment-info {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 100%;
    padding: 3px;
    justify-content: space-between;
    margin-top: 5px;
  }
  .username {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 900;
  }
  .comment-content {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .comment-info div {
    display: flex;
  }
  .comment-now {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }
  .comments .comment-now textarea {
    width: 100%;
    height: 80px;
    resize: none;
    border-radius: 5px;
    box-sizing: none;
    border: 1px solid rgb(167, 167, 167);
    outline: none;
    padding: 10px 0px 10px 3px;
    font-weight: 700;
  }
  .comments .comment-now button {
    width: 150px;
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
    padding: 3px;
    font-weight: 700;
    background-color: rgb(70, 70, 70);
    color: white;
  }
  .comments .comment-now button:hover {
    background-color: var(--blue);
    transition: 0.2s ease-in-out;
    transform: translateY(-2px);
    color: white;
    cursor: pointer;
    font-weight: 700;
  }
  .comment-content {
    margin: 10px 0px;
  }
  .comment {
    display: flex;
    height: 170px;
    width: 700px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 3px;
    margin: 1px;
    border-bottom: 1px solid rgb(167, 167, 167);
  }
  .comment-photo {
    display: flex;
    height: 80px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
  }
  .comment p {
    margin: 2px 5px;
  }
  .delete-comment {
    text-decoration: none;
    color: white;
    width: 240px;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255, 94, 94);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rating {
    display: flex;
    align-items: center;
  }
  .delete-comment:hover {
    background-color: rgb(255, 42, 42);
  }
  .avatar {
    width: 40px;
  }