.body {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 55vh;
  margin-bottom: 20px;
}
.book-img img {
  border-radius: 10px;
  margin: 20px 20px;
  width: 180px;
  object-fit: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.book-img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}
.book-img input {
  width: 90%;
}
.book-img div {
  display: flex;
  flex-direction: column;
}
.book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 18px;
  height: 100%;
}
.book-info .title {
  font-weight: 700;
  font-size: 22px;
}
.book-info div {
  display: flex;
  flex-direction: column;
}
.book-info input {
  padding: 10px 3px;
  width: 400px;
  border-radius: 3px;
  margin-top: 5px;
  border: 1px solid #a76657;
}
.book-info textarea {
  border-radius: 3px;
  margin-top: 5px;
  border: 1px solid #a76657;
}
.book-info label {
  margin-right: 10px;
}
.book-info .descrip {
  display: flex;
  flex-direction: column;
}
.book-info .descrip textarea {
  width: 400px;
  padding: 10px 3px;
  resize: none;
}
.book-info .description {
  height: 90px;
}
.book-info div {
  margin-top: 10px;
}

.edit-button a {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #4184d2;
}
.input-file {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 10px 3px;
  justify-content: center;
  border: 3px dashed #a76657;
  align-items: center;
  cursor: pointer;
}
.input-file input {
  display: none;
}

.update-button {
  margin-top: 10px;
  width: 410px;
  margin-left: 0px;
  height: 50px;
  background-color: #63a757;
  color: white;
  font-weight: 900;
}
.delete-button {
  display: flex;
  align-items: center;
  margin-left: 0px;
  justify-content: center;
  width: 180px;
  background-color: #a76657;
}
